<div class="edit_details">

	<h1>Editing Author</h1>

	<%= render 'form', author: @author %>

	<button><%= link_to 'Show', @author %></button> 
	<button><%= link_to 'Back', authors_path %></button>
</div>