<!DOCTYPE html>
<html>
<head>
	<title>Author_book</title>
</head>
<body style="background-color: lightgray">
<div class="home_page">
	<h1>Assignment</h1>
	<div class="block">
		<h3><%= link_to "Authors", authors_path %></h3>
		<h3><%= link_to "Books", books_path %></h3>
	</div>
</div>
</body>
</html>