input,option{
  font-size: 17px;
}
.home_page{
  text-align: center;
}
.block{
  margin-top: 100px;
}
#author_book_ids{
  width: 19%;
}
.new_record{
  background-color: lightgray;
  padding: 42px 20px 72px 20px;
  text-align: center;
}
.edit_details{
    text-align: center;
    background-color: lightgray;
    padding: 40px 20px 70px;
  }
.show_detail{
  background-color: lightgray;
  text-align: center;
  padding: 42px 20px 72px 20px;
}
.show{
  background-color: green;
}
.edit{
  background-color: yellow;
}
.destroy{
  background-color: red;
}
button{
  border: none;
}
.new{
  background-color:#697b7a;
}

a{
  margin-top: 10px;
  font-size: 20px;
  text-decoration: none;
}
body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #111; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.block{
  text-decoration: none;
}

#notice{
  text-align: center;
}
.table{
  background-color: lightgray;
  text-align: -webkit-center;
}